<section class="thirteen columns">
    <h1>Honors and Awards</h1>
        <article>
        <header>
            <h1><a href="https://www.ma.tum.de/en/school-portal/school-pupil-overview.html">TUMMS Scholarship</a> recipient</h1>
            <span>TUM München</span>
            <span><address>Munich, Germany</address><time>2015</time></span>
        </header>
        <p>
            Guest-attended courses on Linear Algebra, various TUMMS recipients specific lectures and participated in a traditional MatBoj competition.
    </article>
    <article>
        <header>
            <h1><a href="https://www.jugend-forscht.de/information-in-english.html">Jugend-Forscht</a></h1>
            <span>todo</span>
            <span><address>Mannheim, Germany</address><time>2013</time>
        </header>
        <p>
           Presented a fully-functional prototype of an invention that transmits music via a consistent beam of light.<br>
           2nd place in the Physics-Departure of the Nordbaden competition.
    </article>
</section>
