<section class="thirteen columns">
    <h1>Honors and Awards</h1>
        <article>
        <header>
            <h1><a href="https://www.ma.tum.de/en/school-portal/school-pupil-overview.html">TUMMS Scholarship</a> recipient</h1>
            <span>TUM München</span>
            <span><address>Munich, Germany</address><time>2015</time></span>
        </header>
        <p>
            Guest-attended courses on Linear Algebra, various TUMMS recipients specific lectures and participated in a traditional MatBoj competition.
        </p>
    </article>
    <article>
        <h1><a href="https://www.dpg-physik.de/auszeichnungen/dpg-preise/abiturpreis">DPG-Abiturpreis</a> recipient</h1>
        <span>Hohenstauffen-Gymnasium Eberbach</span>
        <span><address>Eberbach, Germany</address><time>2015</span></span>
    </article>
    <article>
        <header>
            <h1>1st place at <a href="https://www.mathinf.uni-heidelberg.de/tagdermathematik.html">"Tag der Mathematik"</a> 2015</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>2015</time></span>
        </header>
        <p>
            I participated in the "Tag der Mathematik" team-competition 2015. <br>
            Our team got awarded the 1st place for reaching the highest score of all participants.
        </p>
    </article>
    <article>
        <header>
            <h1>DKFZ SE award at <a href="http://www.explo-heidelberg.de/index.php/lernlabor-seite/symposium">Schülersymposium Heidelberg 2013</a></h1>
            <span>DKFZ Heidelberg</span>
            <span><address>Heidelberg, Germany</address><time>2013</time>
        </header>
        <p>
           Presented a fully-functional prototype of an invention that transmits music via a consistent beam of light.<br>
           Got awarded the BASF SE award for exceptionally succesful and creative innovations.
        </p>
    </article>
    <article>
        <header>
            <h1>Silver medal at <a href="http://www.iena.de/en/home.html">iENA</a> 2013</h1>
            <span>Nuremberg Hall</span>
            <span><address>Nuremberg, Germany</address><time>2013</time>
        </header>
        <p>
           Presented a fully-functional prototype of an invention that transmits music via a consistent beam of light.<br>
           Got awarded a silver medal in the Youth-Innovation category.
    </article>
    <article>
        <header>
            <h1>2nd place at <a href="https://www.jugend-forscht.de/information-in-english.html">Jugend-Forscht</a> 2013</h1>
            <span>Freudenberg Group</span>
            <span><address>Weinheim, Germany</address><time>2013</time>
        </header>
        <p>
           Presented a fully-functional prototype of an invention that transmits music via a consistent beam of light.<br>
           Got awarded 2nd place in the Physics-Departure of the Nordbaden competition.
    </article>
</section>
