<section class="thirteen columns">
    <h1>Conferences and Workshops</h1>
    <header><h1>Upcoming</h1></header>
    <article>
        <header>
            <h1><a href="https://www.maths.nottingham.ac.uk/plp/pmzibf/files/May2020.html">Foundations and Perspectives of Anabelian Geometry</a></h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>18/05/2020 - 22/05/2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://www.maths.nottingham.ac.uk/plp/pmzibf/files/June2020.html">Combinatorial Anabelian Geometry and Related Topics</a></h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>29/06/2020 - 03/07/2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://www.maths.nottingham.ac.uk/plp/pmzibf/files/iut1.html">Invitation to inter-universal Teichmüller Theory (IUT)</a></h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>01/09/2020 - 04/09/2020</time></span>
        </header>
    </article>
    
    <h2>Past</h2>
    <article>
        <header>
          <h1><a href="https://www.mathematik.tu-darmstadt.de/algebra/arbeitsgruppe_algebra/forschung_algebra/loewe_usag/events/infinite_categories.en.jsp">Infinity Categories</a></h1>
            <span>TU Darmstadt</span>
            <span><address>Darmstadt, Germany</address><time>14/02/2019-15/02/2019</time></span>
        </header>
        <p>
            Workshop <a href="https://www.mathematik.tu-darmstadt.de/algebra/arbeitsgruppe_algebra/forschung_algebra/loewe_usag/events/infinite_categories.en.jsp">homepage</a>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article> -->
</section>

