<section class="thirteen columns">
    <h1>Conferences and Workshops</h1>
    <!-- <article>
        <header>
            <h1><a href="https://www.maths.nottingham.ac.uk/plp/pmzibf/files/iut1.html">Invitation to inter-universal Teichmüller Theory (IUT)</a> (upcoming)</h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>01/09/2020 - 04/09/2020</time></span>
        </header>
    </article> -->
    <article>
        <header>
            <h1><a href="https://www.maths.nottingham.ac.uk/plp/pmzibf/files/June2020.html">Combinatorial Anabelian Geometry and Related Topics</a> (upcoming)</h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>29/06/2020 to 03/07/2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://www.maths.nottingham.ac.uk/plp/pmzibf/files/May2020.html">Foundations and Perspectives of Anabelian Geometry</a> (upcoming)</h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>18/05/2020 to 22/05/2020</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://sites.google.com/view/rims-ant2019/%E3%83%9B%E3%83%BC%E3%83%A0/english-page">Algebraic Number Theory and Related Topics 2019</a> </h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>09/12/2019 to 13/12/2019</time></span>
            <p>
                <a href="https://github.com/tholzschuh/uni-files/raw/master/posters/program_algebraic-number-theory-and-related-topic_RIMS2019.pdf"> Program</a> & <a href="https://github.com/tholzschuh/uni-files/raw/master/posters/abstracts_algebraic-number-theory-and-related-topics_RIMS2019.pdf"> Abstracts </a>
            </p>
        </header>
    </article>
    <article>
        <header>
            <h1><a href="https://shotanimoto.wordpress.com/rims-symposia-rational-points-on-higher-dimensional-varieties/">RIMS Symposia: Rational Points on Higher Dimensional Varieties</a></h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>02/12/2019 to 06/12/2019</time></span>
            <p>
                <a href="https://github.com/tholzschuh/uni-files/raw/master/posters/program_rational-points-on-higher-dim-varieties_RIMS2019.pdf"> Program & Abstracts</a>
            </p>
        </header>
    </article>
    <article>
        <header>
          <h1><a href="https://www.mathematik.tu-darmstadt.de/algebra/arbeitsgruppe_algebra/forschung_algebra/loewe_usag/events/infinite_categories.en.jsp">Infinity Categories</a></h1>
            <span>TU Darmstadt</span>
            <span><address>Darmstadt, Germany</address><time>14/02/2019 to 15/02/2019</time></span>
        </header>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article> -->
</section>

