<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>BSc in Mathematics</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>2015-2019</time></span>
        </header>
        <p>
            <em>Thesis: <a href="https://github.com/tholzschuh/uni-files/blob/master/BA.pdf">Computing simple factors of certain Jacobian varieties over finite fields</a>.</em>
        </p>
    </article>
    <!-- <article>
        <header>
            <h1>Major in Computer Science</h1>
            <span>University of College London</span>
            <span><address>London, UK</address><time>2007 to 2011</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article> -->
</section>
