<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Mathematics</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>2019 to Present</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>BSc in Mathematics</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>2015-2019</time></span>
        </header>
        <p>
            <em>Thesis: </em> <a href="https://github.com/tholzschuh/uni-files/blob/master/BA.pdf">Computing simple factors of certain Jacobian varieties over finite fields</a>.<br>
            <em>Advisor:</em> <a href="https://typo.iwr.uni-heidelberg.de/groups/arith-geom/home/members/gebhard-boeckle/">Prof. Gebhard Böckle</a>
        </p>
    </article>
</section>
