<section class="thirteen columns">
    <h1>Employment</h1>
    <!--<article>
        <header>
            <h1>Teaching Assistant</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>10/2020 to 03/2021</time></span>
        </header>
        <p>Tutored the course <a href="https://www.mathi.uni-heidelberg.de/~schmidt/lehre/Alexander%20Schmidt%20%20Wintersemester%202020_21.htm">'Algebra I'</a> held by <a href="https://www.mathi.uni-heidelberg.de/~schmidt/">Prof. Alexander Schmidt</a> at Heidelberg University in the winter term 2020.</p>
    </article>
    -->
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>11/2020 to 03/2021</time></span>
        </header>
        <p>Tutored the course <a href="https://www.mathi.uni-heidelberg.de/~schmidt/lehre/Alexander%20Schmidt%20%20Wintersemester%202020_21.htm">'Algebra I'</a> held by <a href="https://www.mathi.uni-heidelberg.de/~schmidt/">Prof. Alexander Schmidt</a> at Heidelberg University in the summer term 2019.</p>
    </article>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>05/2019 to 09/2019</time></span>
        </header>
        <p>Tutored the course <a href="https://www.mathi.uni-heidelberg.de/~schmidt/lehre/Alexander%20Schmidt%20Sommersemester%202019.htm">'Algebra II'</a> held by <a href="https://www.mathi.uni-heidelberg.de/~schmidt/">Prof. Alexander Schmidt</a> at Heidelberg University in the summer term 2019.</p>
    </article>

    <article>
        <header>
            <h1>Student assistant</h1>
            <span>Heidelberg University</span>
            <span><address>Heidelberg, Germany</address><time>05/2018 to 09/2018</time></span>
        </header>
        <p>Checked, improved and created questions for the <a href="https://keks.mathi.uni-heidelberg.de/">KEKS project</a> at Heidelberg University.
    </article>
</section>
