<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Teaching Assistant</h1>
            <span><address>Heidelberg University, Heidelberg/Germany</address><time>2019/05 to 2019/09</time></span>
        </header>
        <p>Tutored the course <a href="https://www.mathi.uni-heidelberg.de/~schmidt/lehre/Alexander%20Schmidt%20Sommersemester%202019.htm">'Algebra II'</a> held by <a href="https://www.mathi.uni-heidelberg.de/~schmidt/">Prof. Alexander Schmidt</a> at Heidelberg University in the summer term 2019.</p>
    </article>
    
    <article>
        <header>
            <h1>Student assistant</h1>
            <span><address>Heidelberg University, Heidelberg/Germany</address><time>2018/05 to 2018/09</time></span>
        </header>
        <p>Checked, improved and created questions for the <a href="https://keks.mathi.uni-heidelberg.de/">KEKS project</a> at Heidelberg University.
    </article>
</section>
