<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Research Student</h1>
            <span><address>RIMS, Kyoto University, Japan</address><time>2019/10 until 2020/10</time></span>
        </header>
        <p>
            Advisor: <a href="http://www.kurims.kyoto-u.ac.jp/~motizuki/top-english.html">Prof. Shinichi Mochizuki</a>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.life-science-lab.org/cms/">Life-Science Lab</a></h1>
            <span><address>DKFZ, Heidelberg, Germany</address><time>2012-2015</time></span>
        </header>
        <p>
            Participated in various lectures, working groups and weekend-long seminars.<br>
            Working groups: Mathematics, Theoretical Physics, Quantum mechanics <br>
            Seminars:       TODO
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.ma.tum.de/en/school-portal/school-pupil-overview.html">TUMMS scholar</a></h1>
            <span><address>TUM München, Germany</address><time>2015</time></span>
        </header>
        <p>
            Guest lectured courses on Linear Algebra, various TUMMS specific lectures and participated in a traditional MatBoj competition.
    </article>
    <article>
        <header>
            <h1><a href="https://www.jugend-forscht.de/information-in-english.html">Jugend-Forscht</a></h1>
            <span><address>ROCHE GmbH, Mannheim, Germany</address><time>TODO</time>
        </header>
        <p>
           Presented a fully-functional prototype of an invention that transmits music via a consistent beam of light.<br>
           2nd place in the Physics-Departure.
    </article>
</section>
