<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Research Student</h1>
            <span>RIMS, Kyoto University</span>
            <span><address>Kyoto, Japan</address><time>10/2019 to 09/2020</time></span>
        </header>
        <p>
            Advisor: <a href="http://www.kurims.kyoto-u.ac.jp/~motizuki/top-english.html">Prof. Shinichi Mochizuki</a>
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.life-science-lab.org/cms/">Life-Science Lab Heidelberg</a>  member</h1>
            <span>DKFZ Heidelberg</span>
            <span><address>Heidelberg, Germany</address><time>2012 to 2015</time></span>
        </header>
        <p>
            Participated in various lectures, working groups and weekend-long seminars.<br>
            Working groups: Mathematics, Theoretical Physics, Quantum Physics <br>
            Seminars: Scientific Modelling, Special Relativity, Mathematical Sketches, Mathematics for Physicists fundamental course 
        </p>
    </article>
    <article>
        <header>
            <h1><a href="https://www.ma.tum.de/en/school-portal/school-pupil-overview.html">TUMMS Scholarship</a> recipient</h1>
            <span>TUM München</span>
            <span><address>Munich, Germany</address><time>2015</time></span>
        </header>
        <p>
            Guest-attended courses on Linear Algebra, various TUMMS recipients specific lectures and participated in a traditional MatBoj competition.
    </article>
    <article>
        <header>
            <h1><a href="https://www.jugend-forscht.de/information-in-english.html">Jugend-Forscht</a> Engagement</h1>
            <span>ROCHE GmbH</span>
            <span><address>Mannheim, Germany</address><time>2013</time>
        </header>
        <p>
           Presented a fully-functional prototype of an invention that transmits music via a consistent beam of light.<br>
           2nd place in the Physics-Departure of the Nordbaden competition.
    </article>
    <article>
        <header>
            <h1>Member of <a href="https://www.lab-alumni.de/">'Alumni des Heidelberger Life-Science Lab e.V.'</a></h1>
            <span>Im Neuenheimer Feld 581</span>
            <span><address>Heidelberg, Germany</address><time>2015 to present</time>
        </header>
        <p> This is the self-organized followup association of the Heidelberg Life-Science Lab, trying to support current Life-Science Lab members by organizing research internships, seminars and other things.
    </article>
</section>
