<section class="thirteen columns">
    <article>
        <header>
            <h1>Programming</h1>
        </header>
        <p>
            <em><a href="https://isocpp.org/">C/C++</a></em>, <em><a href="https://www.java.com/en/">Java</a></em>, <em><a href="https://dlang.org/">D</a></em>, <em><a href="https://www.haskell.org/">Haskell</a></>, <em><a href="http://magma.maths.usyd.edu.au/magma/">Magma</a></em>, <em><a href="https://www.gnu.org/software/bash/">Bash</a></em>
        <p>
            Long time <em>Linux</em> power user.
    </article>
    
    <article>
        <header>
            <h1>Languages</h1>
        </header>
        <p>
            German (native), English (fluent), Japanese (around A2)
    </article>
</section>
