<section class="thirteen columns">
    <h1>Talks</h1>
    <article>
        <header>
            <h1>Hauptseminar: Arithmetische Homotopietheorie</h1>
            <span>Heidelberg University</span>
            <span><time>02/11/2020</time></span>
        </header>
        <p> Title: Homological Algebra of locally compact abelian groups
        <p> <a href = "https://www.mathi.uni-heidelberg.de/%7Eschmidt/index-en.html">Prof. Schmidt's</a> research seminar on condensed mathematics during the winter term of 2020
        <p> <a href = "https://github.com/tholzschuh/uni-files/raw/master/talks/hauptseminar-arithmetische-homotopietheorie/condensed-mathematics-ws20.pdf">Seminar abstract (in german)</a>
    </article>
</section>
